<mat-card class="outer-card">
  <div class="header">
    <div class="spacer"></div>
    <ng-content></ng-content>
  </div>

  <ng-content></ng-content>
  <mat-card-header>
    <!-- Slot for the handle -->

    <mat-card-title>
      {{ rack.title }}
    </mat-card-title>
    <mat-card-subtitle>
      {{ rack.id }}
    </mat-card-subtitle>
  </mat-card-header>

  <div
    class="tasks"
    cdkDropList
    cdkDropListOrientation="vertical"
    (cdkDropListDropped)="pumpDrop($event)">
    <div
      class="inner-card"
      cdkDrag
      *ngFor="let pump of rack.pumps; let i = index">
      <app-pump [pump]="pump" [rack]="rack" [i]="i"></app-pump>
    </div>

    <button mat-stroked-button (click)="openDialog()">
      <mat-icon>add</mat-icon>
    </button>

    <app-delete-button (delete)="handleDelete()"></app-delete-button>
  </div>
</mat-card>
